@charset "UTF-8";

body {
    background-image: linear-gradient( to bottom, rgb(21, 21, 139), blue, cyan, white);
}

nav {
    text-align: center;
    font-family: sans-serif;
    border: solid 2px black;
    color:black;
    background-image: linear-gradient(bottom, darkblue 25%, blue 25%, cyan
     15%, black 35%)
}

figure {
    float: left
}
section#info {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif
}

h2{
    text-align: center;
}
section#hab {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif
}

li{
    text-align: center;
}

ul {
    list-style-position: inside;
}

section#proj{
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif
}

section#hobb {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif

}

footer{
    font-family: fantasy;
    font-size: 50px;
    font-weight: bolder;
}